<!DOCTYPE html>
<html>
<head>
    <title>Agencies Without Expense Growth</title>
</head>
<body>
    <h1>Plot Analysis - Agencies Without Expense Growth</h1>
    <a href="/">Return to Main Menu</a>
    <a href="/plot-analysis">Return to Plot Analysis</a>
    
    <div id="agency-without-expense-growth">
    </div>

        <img src="{{ url_for('static', filename='newplot.png') }}">
    
    <p>The lack of growth in the adopted budget expense for agencies such as the Department of Mental Health, Department of Juvenile Justice, Department of Employment, Commission on Racial Equity, Energy Adjustment, and Citywide Savings Initiatives from 2017 to 2024 could have several implications. Stagnant budget allocations may lead to limited capacity to expand services, hinder program enhancements, or address increasing demands for support. Possible reasons for this lack of growth may include fiscal constraints, shifting priorities, or challenges in demonstrating the need for increased funding.</p>
    <p>In contrast, the new adopted budget expenses for the Criminal Justice Coordinator and the Office of Racial Equity in 2024 might be attributed to specific movements or news-related events. Public pressure, advocacy efforts, or emerging social issues may have prompted policymakers to allocate additional resources to these agencies. The Criminal Justice Coordinator's new budget could reflect the city's response to criminal justice reform movements or initiatives to address systemic issues within the justice system. Similarly, the Office of Racial Equity's increased funding might be in response to heightened awareness of racial disparities and a commitment to fostering greater equity and inclusion in government operations.</p>
</body>
</html>
